@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Poppins:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.ds-serif {
    font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
}

.ds-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}