@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-display: swap;
    font-weight: 300;
}

.ds-serif {
    font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
    font-display: swap;
}

.ds-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}


.content a {
    color: #333;
    text-decoration: underline
}